<%- include('../partials/head') %>

<%- include('../partials/nav') %>

<h1><%= car.brand %> <%= car.model %></h1>

<p><%= car.year %></p>
<p><%= car.type %></p>
<p><%= car.price %></p>
<p><%= car.power %></p>
